pgvector==0.2.5
openai==1.43.0
langchain-core==0.2.37
langchain-postgres==0.0.9
tiktoken
llama-parse==0.5.1
langchain==0.2.15
langchain-community==0.2.15
psycopg-binary
cohere==5.9.0
streamlit
langchain_postgres
sentence-transformers
azure-storage-file-datalake
azure-storage-blob 
azure-identity
python-dotenv
psycopg_pool